.claude/
.idea/
.superpowers/
Ideas.docx
IMG_9124.JPG
social_posts
social_posts/.fb_credentials.json
social_posts/resources/scripts/node_modules/
social_posts/drafts/
CLAUDE.md
docs/
integration-tests
bkp
